$first-color: #e4b30b;
$second-color: #0b2543;
$third-color: #c3aa99;
$fourth-color: #6a93aa;
$fifth-color: #000;

$main-white: #fff;
$off-white: #f7f7f7;
$main-black: #222;
$main-grey: #ececec;
$dark-grey: #cfcfcf;


$facebook-color:#3b5998;
$twitter-color:#00acee;
$youtube-color:#ff0000;

$help-form-dark: #191919;
$help-form-blue: rgba(86, 133, 144, .5);