$first-color: #f76c5e;

$main-white: #fff;
$off-white: rgba(255, 255, 255, 0.1);
$main-black: #000;
$off-black: rgba(0, 0, 0, 0.8);
$main-grey: #ececec;
$off-grey: rgba(50, 50, 50, 0.7);
$dark-grey: rgb(50, 50, 50);

$shade-grey-1: #323232;
$shade-grey-2: #191919;

$facebook-color: #3b5998;
$twitter-color: #00acee;
$youtube-color: #ff0000;

$help-form-dark: #191919;
$help-form-blue: rgba(86, 133, 144, 0.5);
$coral: rgb(250, 114, 104);
