*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

a{
    text-decoration: none;
    color: white;
}

ul{
    list-style: none;
}

*:focus {
    outline: none;
}

body{
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(20, 20, 20, 1) 100%,
    );
    background-size: cover;
}