.details {
  border-radius: 2px;

  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center !important;
  background-attachment: fixed !important;

  display: flex;
  flex-direction: column;
  align-items: center;

  & > * {
    @include respond(desktop4k) {
      width: 50%;
    }

    @include respond(desktop) {
      width: 70% !important;
    }
    @include respond(phone-land) {
      width: 85% !important;
    }
    @include respond(phone-port) {
      width: 90% !important;
    }
  }

  &--movieInfo {
    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: center;
    padding: 2rem;
    @include box;

    @include respond(desktop4k) {
      grid-template-columns: repeat(3, auto);
    }

    @include respond(desktop2k) {
      grid-template-columns: repeat(3, auto);
    }

    @include respond(tablet-port) {
      grid-template-columns: repeat(1, auto);
    }

    &--portrait {
      width: 100% !important;
      height: auto !important;
    }

    &--grid {
      background-image: linear-gradient(to bottom, #2a2225, #130d0f);
      padding: 1rem;
      margin-top: 2rem;
      border-radius: 2px;
      white-space: pre-line;
      display: flex;
      flex-direction: column;
      text-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
      color: $color6;

      @include respond(desktop4k) {
        margin: 0 0 0 2rem;
      }

      @include respond(desktop2k) {
        margin: 0 0 0 2rem;
      }

      @include respond(tablet-port) {
        margin: 2rem 0 0 0;
      }

      h1 {
        padding: 0.5rem 0;
      }
      h2 {
        padding: 0.5rem 0;
      }
      h3,
      p {
        padding: 0.5rem 0;
        letter-spacing: 1px;
      }

      .top-text {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        &__title {
          color: #fff;
        }
      }
      .bottom-text {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
    }
  }

  &--videos {
    position: fixed;
    justify-content: center;
    flex-wrap: wrap;
    background-color: black;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .video-container iframe {
    display: block;
    border: 0;
    left: 0;
    top: 0;
    height: 95%;
    width: 95%;
  }
}

.cast,
.similars,
.reviews {
  @include box;
  img {
    width: 185px;
    height: 277.5px;
    border-radius: 2px;
  }
}

.rating-stars {
  //direction: rtl;
  display: flex;
  //justify-content: flex-end;

  & > * {
    width: 1.2rem;
    height: 1.2rem;
    fill: $color3;

    // &:hover,
    // &:hover ~ * {
    //   cursor: pointer;
    //   fill: $color1;
    // }
  }

  .svg__color {
    fill: $color1;
  }
  .svg__nocolor {
    stroke: rgba(255, 255, 255, 0.15);
  }
}

.genre {
  margin-bottom: 1rem;
  transition: all 0.3s;
  &:hover {
    transform: translateY(-3px);
    color: white;
  }
}
