.details {
  border-radius: 2px;
  padding: 2rem 0;

  &--movieInfo {
    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: center;
    padding: 2rem;
    width: 70%;
    @include box;

    @include respond(desktop4k) {
      grid-template-columns: repeat(2, auto);
      width: 50%;
    }
  
    @include respond(desktop2k) {
      grid-template-columns: repeat(2, auto);
    }
  
    @include respond(phone-port) {
      grid-template-columns: repeat(1, auto);
    }

    &--portrait{
      width: 100% !important;
      height: auto !important;
    }

    &--grid {
      background-color: $off-grey;
      padding: 1rem;
      margin-top: 2rem;
      border-radius: 2px;
      white-space: pre-line;

      @include respond(desktop4k) {
        margin: 0 0 0 2rem;
      }
    
      @include respond(desktop2k) {
        margin: 0 0 0 2rem;
      }
    
      @include respond(phone-port) {
        margin: 2rem 0 0 0;
      }

      h1 {
        padding: 0.5rem 0;
      }
      h2 {
        padding: 0.5rem 0;
      }
      h3,
      p {
        padding: 0.5rem 0;
        letter-spacing: 1px;
      }
    }
  }

  &--videos {
    visibility: hidden;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.cast, .similars, .reviews{
  @include box;
}