.details {
  padding: 5rem;
  border-radius: 2px;
  font-weight: bold;

  .back{
    transform: perspective(40rem);
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: contain !important;
  }

  &--movieInfo {
    background-color: rgba(255, 255, 255, 0.1);
    justify-content: center;
    font-size: 1.5rem;

    img{
      height: auto;
    }

    &--grid {
      padding: 2rem;
      margin: auto;
    }
  }

  &--videos{
    visibility: hidden;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
