.search-container--filter {
  background-color: $color3;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 4rem;
  z-index: 1;
  box-shadow: var(--shadow-dark);

  @include respond(phone-land) {
    flex-wrap: wrap;
  }

  .filter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;

    @include respond(phone-land) {
      flex: 0 0 40%;
    }


    &__icon {
      width: 1.2rem;
      height: 1.2rem;
      margin-left: -2.5rem;
      fill: $color2;
      transition: all .3s;
    }
  }

  &--select {
    padding: 1rem 2rem;
    border: none;
    border-radius: 2px;
    margin: 1rem;
    width: 10rem;
    background-color: transparent;
    border-bottom: 1px solid $grey-dark-3;
    color: $color2;
    -webkit-appearance: none;
    transition: all .3s;

    &:hover{
      cursor: pointer;
      color: $color1;
      border-bottom: 1px solid $color1;
    }

    &:hover + .filter__icon {
      fill: $color1;
    }
  }

  &--button {
    padding: 0.5rem 2rem;
    &__button {
      padding: 0.5rem 2rem;
      background-color: $first-color;
    }
  }
}

.search-filter {
  position: sticky;
  z-index: 1;
}
