.help-wrapper {
    width: 100%;
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    margin: 5rem 0;
    .btn-help {
        width: 10rem;
        padding: 1rem 2rem;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
        border: 1px solid $main-white;
        color: $main-black;
        border-radius: 0.2rem;
        margin-top: 2rem;
        background-color: $main-white;
        &:hover {
            cursor: pointer;
        }
    }
}

.help-box {
    background-color: $grey-dark-1;
    border: 1px solid $main-white;
    padding: 2.5rem;
    border-radius: 0.6rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    color: $main-white;
    height: 22rem;
    width: 15rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}

.help-wrapper .icons {
    background: $main-white;
    color: $grey-dark-1;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}
