.maintitle {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  //font-size: 3rem;

  &-mark {
    color: rgb(247, 108, 94);
  }
}

.table-icons {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  display: grid;

  @media (max-width: 600px) {
    grid-template-columns: repeat(2, auto);
  }

  @media (min-width: 600px) {
    grid-template-columns: repeat(4, auto);
  }


  &-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid rgba(255, 255, 255, 0.2);
    border-radius: 2rem;
    margin: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    width: 8rem;
    height: 8rem;

    &:hover {
      opacity: 0.6;
      border-color: rgb(247, 108, 94);
    }
  }
}
