.home-page {
  display: flex;
}

.maintitle {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  &-mark {
    color: rgb(247, 108, 94);
  }

  @include respond(phone-land) {
    display: none;
  }
}

.table-icons {
  display: grid;
  justify-content: center;

  @include respond(desktop4k) {
    grid-template-columns: repeat(4, auto);
    gap: 1rem;
  }

  @include respond(desktop2k) {
    grid-template-columns: repeat(4, auto);
    gap: 1rem;
  }

  @include respond(phone-port) {
    grid-template-columns: repeat(2, auto);
    gap: 0.5rem;
  }

  &-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid rgba(255, 255, 255, 0.2);
    border-radius: 2rem;
    margin: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    width: 8rem;
    height: 8rem;

    @media (min-width: 500px) {
      padding: 0rem;
      margin: 0rem;
    }

    &:hover {
      opacity: 0.6;
      border-color: rgb(247, 108, 94);
    }
  }

  &__name {
    text-transform: uppercase;
  }
}
