/*
 tutoriales:
 https://www.florin-pop.com/blog/2019/03/double-slider-sign-in-up-form/
 https://www.youtube.com/watch?v=mUdo6w87rh4
 - coral pal titulo y el botón
*/

.user-page{
    height: calc(100vh - 8rem);
}

.user-container {
    background-color: $help-form-dark;
    border-radius: 0.1rem;
    box-shadow: 0 1.4rem 2.8rem rgba(0, 0, 0, 0.25), 0 1rem 1rem rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 70%;
    height: 70%;
    max-width: 100%;
    min-height: 48%;
    @include absCenter;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all .6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.sign-up-container {
    right: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.user-container.rigth-panel-active .sign-in-container {
    transform: translateX(100%);
}

.user-container.rigth-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: showPanel .6s;
}

.form-overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform .6s ease-in-out;
    z-index: 100;

    h2 {
        color: whitesmoke;
        font-size: 1.3rem;
        text-transform: capitalize;
        letter-spacing: 0.3rem;
    }
}

.user-container.right-panel-active .form-overlay-container {
    transform: translateX(-100%);
}

.form-overlay {
    background-color: black;
    color: #ffffff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform .6s ease-in-out;
}

.user-container.right-panel-active .form-overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform .6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
}

.user-container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.user-container.right-panel-active .overlay-right {
    transform: translateX(0%);
}

.form-overlay-btn {
    outline: none;
    height: 3rem;
    text-align: center;
    width: 10rem;
    border-radius: 0.6rem;
    background: transparent;
    border: 1px solid $coral;
    color: whitesmoke;
    letter-spacing: 0.3rem;
    text-shadow: 0;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 2rem;
    cursor: pointer;
    transition: all 0.25s ease;
    &:hover {
      color: darken(whitesmoke, 20%);
    }
    &:active {
      letter-spacing: 0.2rem;
    }
}