html {
  @include respond(desktop4k) {
    font-size: 160%;
  }

  @include respond(desktop2k) {
    font-size: 140%;
  }

  @include respond(desktop) {
    font-size: 120%;
  }

  @include respond(tablet-land) {
    font-size: 100%;
  }

  @include respond(tablet-port) {
    font-size: 100%;
  }

  @include respond(phone-land) {
    font-size: 75%;
  }

  @include respond(phone-port) {
    font-size: 75%;
  }
}

body {
  font-family: "Calibri", "Trebuchet MS", sans-serif;
  background: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 0.8);
}
