.faq-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: $help-form-dark;
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 0.6rem rgba(0,0,0,0.3);
        background-color: #F5F5F5;
    }


    &::-webkit-scrollbar {
        width: 1rem;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb {
	    background-color: #0ae;
	    background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
    }
}

.faq-header {
    height: 25vh;
    width: 100%;
    text-align: center;
    display: flex;
    margin-top: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $help-form-dark;
    h2 {
        padding: 5%;
        font-size: 1.8rem;
        letter-spacing: 0.3rem;
        display: block;
        color: white;
    }
}

.accordion-section {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0.7rem auto;
}

.accordion {
    width: 100%;
    background-color: $help-form-dark;
    color: #444;
    cursor: pointer;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    outline: none;
    border: none;
    transition: background-color .6s ease;   
    &:hover,
    &:active {
        background-color: darken($help-form-dark, 5%);
    }
}

.accordion-title {
    color: white;
    font-size: 1.3rem;
    text-transform: uppercase;
}

.accordion-icon {
    margin-left: auto;
    transition: transform .6s ease;
}

.rotate {
    transform: rotate(45deg);
}

.accordion-content {
    background-color: lighten($help-form-dark, 5%);
    overflow: hidden;
    transition: max-height .6s ease;
    h2 {
        width: 100%;

        font-size: 1.6rem;
        font-weight: normal;
        letter-spacing: 0.1rem;

    }
}


