.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 0;
<<<<<<< HEAD
    left: 0;
    background-color: $off-black;
=======
    background-color: $grey-dark-1;
>>>>>>> dev
}