.btn {
  display: inline-block;
  background: whitesmoke;
  border: none;
  border-radius: 50rem;
  padding: 1rem 2rem;
  //font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  transition: all 100ms ease;
  &:hover {
    cursor: pointer;
    background: darken(whitesmoke, 20%);
  }
}