.carousel-content {
  position: relative;
  height: 100vh;
  margin-top: -4rem;
  z-index: 1;

  &-background,
  &-shadow,
  &-image,
  &-area {
    position: absolute;
    top: 0;
    bottom: 0;
    
  }

  &-background {
    left: 0;
    right: 0;
    z-index: 2;
  }

  &-shadow {
    left: 0;
    background-color: #000;
    width: 35%;
    z-index: 2;

      &:before {
        content: "";
        position: absolute;
        z-index: 2;
        background-image: linear-gradient(to right, #000, transparent);
        top: 0;
        bottom: 0;
        left: 100%;
        width: 27.5rem;
      }
  }

  &-image {
    right: 0;
    height: 100%;
    // background-position: center 10%;
    // background-size: cover;
    z-index: 20;
    width: 70%;
    @include respond(phone-port) {
      width: 100%;
    }
  }

  &-area {
    left: 0;
    right: 0;
    height: 100%;
    z-index: 3;
    @include respond(phone-port) {
      width: 100%;
      height: 100%;
      display: flex;
      position: absolute;
      top: 0;
      flex-wrap: wrap;
    }
  }

  &-container {
      padding: 3rem;
      color: wheat;
      display: flex;
      flex-direction: column;
      width: 40%;
      height: 100%;
      justify-content: center;
      align-items: center;
      @include respond(phone-port) {
        width: 100%;
        display: block;
        position: absolute;
        margin: 0 auto;
      }
  }

  &-title {
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
    color: #fff;
    font-weight: 600;
    @include respond(phone-port) {
      width: 100%;
      display: block;
      position: absolute;
      top: 4%;
    }
  }

  &-description {
    font-size: 1.2rem;
    color: #999;
    margin-top: 2rem;
    max-width: 50rem;
  }

  &-close {
    color: #fff;
    width: 4rem;
    height: 4rem;
    background: transparent;
    outline: none;
    border: none;
    position: absolute;
    z-index: 3;
    top: 3rem;
    right: 3rem;
    &:hover {
      cursor: pointer;
    }
  }
  &-active {
    filter: grayscale(90%);
    span {
      opacity: 1;
    }
  }

}
