.card {
  perspective: 50rem;
  -ms-perspective: 50rem;
  width: 185px;
  height: 277.5px;
  box-shadow: var(--shadow-card);
  color: white;

  &__side {
    transition: all 1s;
    position: absolute;
    backface-visibility: hidden;
    width: 185px;
    height: 277.5px;

    &--back {
      display: flex;
      flex-direction: column;
      transform: rotateY(180deg);
      backdrop-filter: grayscale;
    }
  }
  &:hover &__side--front {
    transform: rotateY(-180deg);
  }
  &:hover &__side--back {
    transform: rotateY(0deg);
  }
}

.icons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
}

.back__text{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  text-shadow: 0 0 0.1rem rgba(0,0,0,.7);
}
.back__icon {
  width: 2rem;
  height: 2rem;
  margin: 1rem 0;
  fill: #fff;
  filter: drop-shadow(0 0 .2rem $color3);
  &:hover{
    fill: $color1;
  }
}
