.section-title {
    width: 90%;
    margin: 0 auto;
    color: whitesmoke;
    display: flex;
    justify-content: flex-end;
    text-transform: uppercase;
    font-size: .9rem;
    line-height: 1;
    letter-spacing: .2rem;
    font-weight: 600;
}

.carousel {
    position: relative;
    display: flex;

    .carousel-wrapper {
        position: relative;
        padding: 4rem 0;
        overflow: hidden;
        width: 100%;
        margin: 0 auto;
    }

    .carousel-container {
        width: 100%;
        height: 25vh;
        display: flex;
        padding: 0 3rem;
        z-index: 3;
        transition: all 300ms ease 100ms;

    .carousel-item {
        position: relative;
        background-color: $wooo;
        flex: 0 0 19%;
        text-align: center;
        margin: 0 1rem;
        transition: transform 300ms ease-in-out 100ms;

        img {
            vertical-align: top;
            object-fit: cover;
        }
    }

    &:not(&-open) .carousel-item:hover .carousel-details {
        opacity: 1;
    }

    &:not(&-open) .carousel-item:hover {
        transform: scale(1.4) !important;
    }

    &:not(&-open):hover .carousel-item {
        transform: translateX(-20%);
    }

    &:not(&-open) .carousel-item:hover ~ .carousel-item {
        transform: translateX(20%);
    }
}

}
