.carousel-button {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 5.5rem;
    background: rgba($color: grey, $alpha: 1);
    border: 0;
    outline: 0;
    padding: 0;
    margin: 4rem 0;
    z-index: 4;

    span {
        width: 2.5rem;
        color: #fff;
        display: block;
        margin: 0 auto;
        z-index: 6;
    }

    &--next {
        right: 0;
        span {
            transform: rotateZ(-90deg);
        }
    }

    &--prev {
        left: 0;
        span {
            transform: rotateZ(90deg);
        }
    }
}