.contact-form-wrapper {
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    background-image: url(../../img/shining02.jpg);
    background-size: cover;
    background-position: center;
    @media screen and (max-width: 500px) {
        width: 100%;
        height: 100vh;
    }
}
.contact-form-image {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
        ///font-size: 3rem;
        text-transform: uppercase;
        letter-spacing: 0.3rem;
    }
    @media screen and (max-width: 500px) {
        display: none;
        // width: 0;
        // height: 0;
    }
}
.contact-form-content {
    width: 50%;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    align-items: center;
    background-color: $help-form-dark;
    opacity: .9;
    input,
    textarea {
        color: #b8b6b6;
        background-color: rgba($help-form-dark, 1);   
    }
    @media screen and (max-width: 500px) {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-shrink: 0;
        //font-size: 1rem;
        .btn-form {
            float: none;
        }
        .help-form {
            display: flex;
            flex-wrap: wrap;  
        }
    }
}

.help-form {
    width: 80%;
    margin: 1rem auto;
    position: relative;
    overflow: hidden;
    color: #b8b6b6;
    letter-spacing: 0.2rem;
    
    h2 {
        text-transform: uppercase;
        color: white;
        //font-size: 2.3rem;
        letter-spacing: 0.3rem;

        margin-bottom: 3rem;
    }
    .personal-info {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
    .input-container {
        position: relative;
        margin-bottom: 2rem;
        padding-top: 2%;
    }
    label {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        pointer-events: none;
        border-bottom: 1px solid #b8b6b6;
    }
    .input-animation {
        position: absolute;
        bottom: 1rem;
        left: 0px;
        transition: all 0.3s ease;
    }
    label::after {
        content: "";
        position: absolute;
        left: -1px;
        bottom: 0px;
        width: 100%;
        height: 100%;
        border-bottom: 1px solid #b8b6b6;
        transform: translateX(-100%);
        transition: transform 0.2s ease;
    }

    input[type='text'], input[type='tel'], input[type='email'], input[type='date']{
        width: 100%;
        height: 100%;
        padding-top: 1.2rem;
        padding-bottom: 0.5rem;
        border: none;
        outline: none;
        color: #b8b6b6;
    }
    input:focus + .label-animation .input-animation,
    input:valid + .label-animation .input-animation
    {
        transform: translateY(-150%);
        //font-size: 1.2rem;
        outline: none;
        color: #b8b6b6;

    }
    input:focus .label-animation::after,
    input:valid .label-animation::after {
        transform: translateX(0%);
        outline: none;
        color: #b8b6b6;

    }
    textarea {
        padding: 1rem;
        width: 90%;
        height: 7rem;
        outline: none;
        letter-spacing: 0.2rem;
        border-radius: 0.4rem;
    }
}

.btn-form {
    float: right;
    outline: none;
    padding: 2%;
    height: 3rem;
    text-align: center;
    width: 7rem;
    border-radius: 0.6rem;
    background: whitesmoke;
    border: 1px solid $help-form-dark;
    color: black;
    letter-spacing: 0.3rem;
    text-shadow: 0;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 2rem;
    cursor: pointer;
    transition: all 0.25s ease;
    &:hover {
      color: black;
      background: darken(whitesmoke, 20%);
    }
    &:active {
      letter-spacing: 0.2rem;
    }
}

/*
btn {
    font-size: 1.2rem;
    letter-spacing: 0.3rem;
    font-weigth: bold;
    cursor: pointer;
    &:hover {
        color: black;
    }
    &:active {
        letter-spacing: 0.2rem;
    }
}
*/