.faq-header {
    height: 20%;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    background-color: $help-form-dark;
    h2 {
        //font-size: 1.5rem;
        color: white;
    }
}

.local-search-wrapper {
    width: 70%;
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
}
.local-search {
    border: 2px solid #737373;
    border-width: 0 0 1px;
    background-color: transparent;
    padding: 0.125em 0.225em;
    width: 90%;
    text-align: center;
    &:focus,
    &:active {
        color: #737373;
        border-color: lighten(#737373, 5%);
        outline: none;    
    }
}


