.footer {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  background-color: $color3;
  border-top: 1px solid $grey-dark-2;
  z-index: 2;

  &--copyright {

    &--name{
      color: $first-color;
    }
  }

  &--logo {
  }

  &--socialmedia {
    display: flex;

    & a {
      margin-left: 1rem;
    }
    &--facebook > *:hover {
      @include transition-socialmedia($facebook-color);
    }

    &--twitter > *:hover {
      @include transition-socialmedia($twitter-color);
    }

    &--youtube > *:hover {
      @include transition-socialmedia($youtube-color);
    }
  }
}
