.footer {
    font-size: 1.5rem;
    height: 10rem;
    background: $fifth-color;
    position: sticky;
    top: 0;
    border-top: 10px solid rgba(255, 255, 255, 0.5);

    //"linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%)"
  
    
  
}

.instagram {
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
}