.footer {
    height: 10rem;
    border-top: 1px solid #ffffff80;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;

    &--copyright{
        margin: 0 auto;
        font-size: 3rem;
        & span{
            color:#ffffff80;
            opacity: 20%;
        }

    }

    &--logo{
        margin: 0 auto;
    }

    &--socialmedia{
        margin: 0 auto;
        & a{
            margin-left: 1rem;
        }
        &--facebook > *:hover{
            @include transition-socialmedia($facebook-color);
        }
    
        &--twitter > *:hover{
            @include transition-socialmedia($twitter-color);
        }
    
        &--youtube > *:hover{
            @include transition-socialmedia($youtube-color);
        }
    } 
}