.heading {
  color: $color2;
  border-radius: 2px;
  padding: 1.5rem 2.5rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-shadow: 2px 2px 1px black;
  
}

.separator {
  position: relative;
  .heading2 {
    &::after{
      content: "";
      position: absolute;
      background-color: $color2;
      height: 1px;
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
      top: 85%;
      box-shadow: 1px 2px 1px black;


      @include respond(desktop4k) {
        width: 70%;
      }
    }
  }
}
