.heading {
  color: white;
  border-radius: 2px;
  padding: 1.5rem 2.5rem;
  //font-size: 2rem;
  //font-size: 3rem;
  text-align: center;
}

.separator {
  position: relative;
  .heading2 {
    &::after{
      content: "";
      position: absolute;
      background-color: white;
      height: 0.1rem;
      width: 80vw;
      left: 50%;
      transform: translateX(-50%);
      top: 85%;
    }
  }
}
