.heading {
  color: white;
  border-radius: 2px;
  padding: 1.5rem 2.5rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  
}

.separator {
  position: relative;
  .heading2 {
    &::after{
      content: "";
      position: absolute;
      background-color: white;
      height: 1px;
      width: 70vw;
      left: 50%;
      transform: translateX(-50%);
      top: 85%;
    }
  }
}
