$light-grey: #4b4c50;

.help-block-wrapper {
    h2 {
        //font-size: 2rem;
        margin: 1rem auto;
    }
}

.close {
    z-index: 300;
    display: block;
    color: $dark-grey;
    position: absolute;
    right: 0;
    top: 0;
    margin: 1rem;
    transition: all .3s ease-in;
    &:hover {
        cursor: pointer;
        color: darken($light-grey, 10%);
    }
}