.homeHero {
  text-align: center;
  //font-size: 2rem;
  min-height: calc(100vh - 18rem);
  background: url("../../img/felix-mooneeram-evlkOfkQ5rE-unsplash.jpg")
    no-repeat center;
  background-size: cover;
}