@include respond(tablet-port) {
  .menu {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
    z-index: 999;
    padding: 2.5rem;
    cursor: pointer;
    transition: all 650ms;
  }

  .menu .bar,
  .menu .bar::before,
  .menu .bar::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 40px;
    background-color: $color2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: 650ms;
  }

  .menu .bar::before {
    margin-top: -10px;
  }
  .menu .bar::after {
    margin-top: 10px;
  }

  .cross {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
    z-index: 999;
    padding: 2.5rem;
    cursor: pointer;
    transition: all 650ms;
  }

  .cross .bar::before,
  .cross .bar::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 40px;
    background-color: $first-color;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: all 650ms;
  }

  .cross .bar {
    background: transparent;
  }

  .cross .bar::before {
    transform: rotate(-45deg);
  }
  .cross .bar::after {
    transform: rotate(45deg);
  }
}
