.list-grid-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .list-grid-container {
        display: grid;
        grid-template-columns: repeat(3);
        grid-template-rows: repeat(4);
        padding: 3% 5%;

        .list-item {
            background-size: cover;
            background-position: center;
        }
    }

}
