.list-images {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    padding: 20%;
    justify-items: center;
    position: relative;
    &:hover {
        cursor: pointer;
    }    
    .list-grid-item {
        position: relative;
        z-index: 2;
        &:hover {
            cursor: pointer;
        }    

        img {
            width: 8rem;
            height: 12rem;
            position: relative;
            z-index: 4;
            &:hover {
                transform: scale(1.2) !important;
            }        
        }

    }
}