.list-images {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    padding: 20%;
    justify-items: center;
    position: relative;

    .list-grid-item {
        position: relative;
        z-index: 2;

        img {
            width: 8rem;
            height: 12rem;
            position: relative;
            object-fit: cover;
            object-position: center;
            z-index: 400;
            &:hover {
                transform: scale(1.2) !important;
                cursor: pointer;
            
            }        
        }

    }
}