.modal-wrapper {
    position: fixed;
    z-index: 500;
    height: 80%;
    //border: 1px solid #ccc;
    top: 10%;
    box-sizing: border-box;
    transition: all 0.4s ease-in-out;
    border-radius: 3px;
    overflow: auto;
}

