.modal-wrapper {
    position: fixed;
    z-index: 500;
    // height: 50%;
    // width: 100%;
    // border: 1px solid #ccc;
    // top: 10%;
    box-sizing: border-box;
    transition: all 0.4s ease-in-out;
    border-radius: 0.3rem;
}

.aux-wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
}