.navbar {
  font-size: 1.5rem;
  height: 10rem;
  background: $fifth-color;
  position: sticky;
  top: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);

  &--logo {
    position: absolute;
    left: 0vw;
    top: 50%;
    margin: 0 2.5rem;
    padding: 1rem;
    transform: translateY(-50%);

    &:hover {
      color: $first-color;
      transition-duration: 0.3s;
    }
  }

  &--search {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    input {
      margin: 0 5rem;
      border-radius: 100rem;
      border: 1px solid rgba(255, 255, 255, 0.5);
      color: white;
      background: $fifth-color;
      height: 3rem;
      width: 15rem;
      text-align: center;
      font-size: 1.5rem;

      &:hover {
        border-color: $first-color;
        transition-duration: 0.3s;
      }

      &:focus {
        background: white;
        color: black;
      }
    }
  }

  &--list {
    position: absolute;
    top: 50%;
    right: 25rem;
    transform: translateY(-50%);
    li {
      padding: 2rem;
      display: inline;
      &:hover {
        color: $first-color;
        transition-duration: 0.3s;
        text-decoration: underline;
      }
    }
  }
}
