.new-list-form-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30%;
    background-color: $help-form-dark;
}

form.new-list-form {
    height: 30%;
    input[type="text"],
    label,
    textarea {
        color: wheat;
        display: inline-block;
        background-color: rgba($help-form-dark, .4);
    }

    & textarea {

    }
}