.input {
  top: 0;
  left: 0;
  text-align: center;
  border: none;
  padding: 0.8rem 0rem;
  border-radius: 100rem;
  z-index: 10;
  background-color: $off-grey;
  color: $main-white;
  @include absCenter;
}

.search{
    position: absolute;
    top: 25%;
}