.input {
  top: 0;
  left: 5rem;
  text-align: center;
  border: none;
  padding: 0.5rem 0rem;
  border-radius: 100rem;
  z-index: 10;
  background-color: grey;
  color: $main-white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 15rem;

  &:focus{
    background-color: $main-white;
    color: $main-black;
  }

  @include respond(tablet-port) {
    right: 10rem;
    width: 12rem;
  }
}

.search {
  position: absolute;
  top: 25%;

  &-grid {
    width: 100%;
    position: absolute;
    top: calc(4rem + 2px);
    height: calc(100vh + 4rem + 2px);
    overflow: scroll;

    &--movie {
      background: linear-gradient(
        to right,
        $main-black,
        rgba(0, 0, 0, 0.7)
      );
      width: 100%;
      border-bottom: 2px solid $off-white;
      display: grid;
      transition: all 1s ease;

      &:hover {
        background: linear-gradient(
          to right,
          $dark-grey,
          rgba(0, 0, 0, 0.8)
        );
        color: $main-black;
      }

      & > a {
        width: 70%;

        & > picture {
          margin-right: auto;
          & > img {
            width: 50px !important;
            height: auto;
            float: left;
            margin: 0.3rem;
          }
        }
        & > h3 {
          margin-top: 0.3rem;
        }
      }
    }
  }
}

.search-input {
  margin-right: auto;
  width: 50%;
}

.hidden {
  display: none;
}

.quicksearch-placeholder{
  width: 50px;
  height: 75px;
  background-color: $first-color;
  float: left;
  margin: 0.3rem;
}