.input {
  top: 0;
  left: 5rem;
  text-align: center;
  border: none;
  padding: 0.5rem 0rem;
  border-radius: 100rem;
  z-index: 10;
  background-color: $off-grey;
  color: $main-white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 15rem;

  @include respond(tablet-port) {
    top: 0;
    right: 10rem;
    text-align: center;
    border: none;
    padding: 0.5rem 0rem;
    border-radius: 100rem;
    z-index: 10;
    background-color: $off-grey;
    color: $main-white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 12rem;
  }
}

.search {
  position: absolute;
  top: 25%;

  &-grid {
    background: $dark-grey;
    position: absolute;
    top: calc(4rem + 2px);
    width: 100%;
    height: calc(100vh + 4rem + 2px);
    overflow: scroll;

    &--movie {
      width: 100%;
      border-bottom: 2px solid $off-white;
      display: grid;

      &:hover{
        background: $off-white;
      }
      
      & > a > picture {
        margin-right: auto;
        & > img {
          width: 50px !important;
          height: auto;
          float: left;
          margin: 1rem;
        }
      }
      & > a > h3 {
        margin-top: 1rem;
      }
    }
  }
}

.search-input {
  margin-right: auto;
  width: 50%;
}

.hidden {
  display: none;
}
