.submenu-wrapper {
    height: 20vh;
    width: 100%;
}

.submenu-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.submenu-links__li {
    display: inline-block;
    padding: 2rem;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: .2rem;

    a {
        font-family: inherit;
        &.active{
            color: $coral;
        }
    }
}

