.submenu-wrapper {
    width: 100%;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    @include respond(phone-port) {
    }
}


.submenu-links {
    @include respond(phone-port) {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: 10vh;
    }
}

.submenu-links__li {
    display: inline-block;
    padding: 2rem;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: .2rem;

    a {
        font-family: inherit;
        &.active{
            color: $coral;
        }
    }
    @include respond(phone-port) {
        font-size: 0.8rem;
        padding: 1rem;
    }
}

