.grid {
  margin: 5rem 2rem 10rem 2rem;
  display: grid;
  justify-content: center;

  & > * {
    margin: 1rem;
  }

  @include respond(desktop4k) {
    grid-template-columns: repeat(5, auto);
  }

  @include respond(desktop2k) {
    grid-template-columns: repeat(5, auto);
  }

  @include respond(desktop) {
    grid-template-columns: repeat(5, auto);
  }

  @include respond(tablet-land) {
    grid-template-columns: repeat(4, auto);
  }

  @include respond(tablet-port) {
    grid-template-columns: repeat(2, auto);
  }

  @include respond(phone-land) {
    grid-template-columns: repeat(2, auto);
  }

  @include respond(phone-port) {
    grid-template-columns: repeat(1, auto);
  }
}

.grid--actor {
  margin: 5rem 0 0;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(1, auto);
  & > a {
    margin: 1rem;
    & > img {
      max-width: 15rem;
    }
  }

  @include respond(desktop4k) {
    grid-template-columns: repeat(6, auto);
  }

  @include respond(desktop2k) {
    grid-template-columns: repeat(6, auto);
  }

  @include respond(tablet-land) {
    grid-template-columns: repeat(3, auto);
  }


  @include respond(phone-land) {
    grid-template-columns: repeat(2, auto);
  }

  @include respond(phone-port) {
    grid-template-columns: repeat(1, auto);
  }
}
